* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
}
img {
  width: auto;
  height: 100vh;
  position: relative;
}

button {
  position: absolute;
  display: block;
  opacity: 0.2;
  z-index: 1;
  background-color: white;
}

section article {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20vh;
  background-color: black;
  opacity: 0;
  color: whitesmoke;
  transition: opacity 1000ms ease;
  pointer-events: none;
  font-family: "Courgette", cursive;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 4px;
  z-index: 2;
  outline: none;
  box-shadow: 5px 5px 50px black;
}

section.one button {
  bottom: 6%;
  left: 24%;
  height: 12%;
  width: 12%;
}

section.two button {
  top: 34%;
  left: 40%;
  height: 14%;
  width: 7%;
}

section.three button {
  top: 43%;
  left: 12%;
  height: 7%;
  width: 7%;
}

section.four button {
  top: 57%;
  left: 15%;
  height: 7%;
  width: 7%;
}

section.five button {
  top: 40%;
  left: 27%;
  height: 7%;
  width: 7%;
}

section.six button {
  bottom: 30%;
  left: 50%;
  height: 7%;
  width: 7%;
}

section.seven button {
  bottom: 10%;
  left: 81%;
  height: 18%;
  width: 10%;
}

section.eight button {
  top: 70%;
  left: 70%;
  height: 7%;
  width: 7%;
}

.container {
  position: relative;
  width: max-content;
}
